.specialists-text {
  margin: 0 auto;
  @media screen and (min-width:$minor-viewport) {
    width: 70%;
    font-size: rem(20px);
  }
}
.specialist-item {
  width:15%;
}
.specialist-name {
  font-size: rem(11px);
  @media screen and (min-width: $minor-viewport) {
    font-size: rem(18px);
  }
}
.specialist-twitter {
  font-size: rem(11px);
  font-weight: 400;
  margin: 0;
}
.specialist-activity {
  margin: 0;
}
